.playlist-items {
  width: 100%;
  list-style:none;
  padding-left: 0px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.playlist-items li{
  width:100%;
  letter-spacing:0.06em;
  text-align:left;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
}

.close{
  display: flex;
  cursor:pointer;
  float:right;
  font-weight:bold;
  text-align:right;
  margin: 5px;
  margin-top: -2px;
}
